<mat-toolbar>
    <button mat-icon-button aria-label="Home" routerLink="/" >
        <mat-icon>home</mat-icon>
    </button>
    <span>Food Blog</span>
    <div id="navigation">
        <a mat-button [routerLink]="'/posts'"> Posts </a>
        <a mat-button [routerLink]="'/contact'"> Contact Form </a>  
    </div>
    <span class="fill-space"></span>
    <button mat-flat-button color="primary" align="end" [routerLink]="['/posts/add']">
        <mat-icon aria-hidden="false" aria-label="Add new entry">add</mat-icon>
        Add new entry
    </button>
</mat-toolbar>